#flash-messages{
	position: fixed;
	top: 50px;
	display: none;
}
.errorMessage {
	border: solid 2px #744646;
	background: #a47676;
	text-shadow: 0 1px 0 #744646;
	color: #fff;
	padding: 15px 30px;
	border-radius: 3px;
}
.successMessage{
	border: solid 2px #2076ce;
	background: #4096ee;
	text-shadow: 0 1px 0 #2076ce;
	color: #fff;
	padding: 15px 30px;
	border-radius: 3px;
}